*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
}
/* Practice set 1 */
#box{
    background-color: rgb(255, 204, 0);
}
.heading{
    color: red;
    text-align: center;
    text-decoration: underline;
    /* font-family: monospace; */
}
button{
    background-color: green;
    /* font-weight: 400; */
}
/* Practice set 2 */
#Title {
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}
#border{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

/* Practice Set 3-> Navigation Bar */
#container{
    height: 60px;
    background-color: #0f1111;
}
a{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}
#search{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;/9
} 

.boxes{
    height: 80px;
    width: 80px;
    background-color: pink;
    border: 2px solid blue;
    padding: 20px;
    margin: 25px;
    display: inline-block;
}  
#boxx2{
    visibility: hidden;
}

.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid green;
    display: inline-block;
}
#one{
    background-color: rgba(255, 0, 0, 0.5);
}
#two{
    background-color: rgba(0, 255, 0, 0.5);
}
#three{
    background-color: rgba(0, 0, 255, 0.5);
}
#webBody{
    height: 648px;
}
footer{
    text-align: center;
    color: white;
    background-color: #0f1111;
}

/* Percentage */
#percentage{
    background-color: green;
    height: 100px;
    width: 100px;
    font-size: 10px;
}
#per{
    height: 50px;
    width: 50%;
    background-color: pink;
    font-size: 2em;
    /* 2em-> Two times of parent's font size */
}

.boxxx{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block
}

#box1{
    background-color: rgb(216, 53, 53);
    position: static;
}
#box2{
    background-color: rgb(93, 216, 165);
    position: relative;
    top: 20px;
    left: 10px;
}
#box3{
    background-color: rgb(72, 192, 208);
    position: sticky;
    top: 0;
}
#box4{
    background-color: rgb(187, 144, 225);
    position: fixed;
    top: 0;
}